body{
    background-color:black;
}
h2{
    background-color: linen;
    text-align: center;
    margin:0;
    font-size: 40px;
}
.book{
    background-image: url('images/1407953244000-177513283.jpg');
    width: 100%;
    background-repeat: no-repeat; 
    opacity: 0.7;
}
section{
    text-align: center;
    justify-content: center;
    color: brown;
}
.main{
    font-size: 70px;
    padding-top: 200px;
    padding-bottom: 300px; 
}
.section{
    display: flex;
}
.box{
    box-shadow: 5px 5px darkgray;
    margin: 10px;
    box-sizing: content-box;
    text-align: center;
    background-color: rgb(231, 231, 231);
}
.date{
    background-color: black;
    opacity: 0.7;
    padding: 20px;
    color: whitesmoke;
    text-align: center;
    font-size: 20px;
}
.date>span{
    margin: 50px;
}
div{
    text-align: center;
}
.btn{
    padding: 10px 20px 10px 20px;
    background-color: rgb(71, 178, 211);
    font-size: 20px;
    font-family: 'Times New Roman', Times, serif;
    border: 2px solid whitesmoke;
    border-radius: 5px;
    margin-top: 10px;
}
.pay{
    background-color: lightseagreen;
    border: 2px solid white;
}
.btn:hover{
    font-size: 25px;
}